* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  background-color: aqua;
  height: 400px;
  width: 400px;
  max-width: 800px;
  margin: 50px auto;
}
.child {
  height: 50%;
  width: 50%;
  background-color: teal;
  /* transition: transform 1s linear 0s; */
  /* transition: select what to transit:: duration :: timing function :: delay; */
  animation: leftToRight 1s ease-in forwards infinite alternate 0.5s;
}
.parent:hover .child {
  animation-play-state: paused;
}

@keyframes leftToRight {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translateX(100%) translateY(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
